div.mod_bg{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
div.mod_bg_mark{
	background-color: #F00;
	border-radius: 100%;
	border: 2px #000 solid;
	width: 5px;
	height: 5px;
	cursor: pointer;
}
div.mod_bg_mark > .name{
	position: relative;
	top: 10px;
	left: -50%;
	font-size: 10px;
	white-space: nowrap;
	display: none;
}
div.mod_bg_mark:hover > .name{
	display: table-cell;
}